* {
    margin: 0;
    padding: 0;
  }
  body {
    background: linear-gradient(0deg, rgba(0,36,35,1) 0%, rgba(149,235,246,0) 0%, rgba(0,212,255,0.43461134453781514) 100%);
    background-repeat: no-repeat;
  }
  .main-container {
    display: block;
    position: relative;
    margin: 50px auto;
    padding: 3%;
    background-color: #A3CEE3;
    opacity: 88%;
    border-radius: 2%;  
    min-width: 380px;
    max-width: 380px;
    font-family: Georgia
  }
  #title {
    display: block;
    text-align: center;
    font-size: 28px;
    font-family: Helvetica, Verdana;
    margin-bottom: 5%;  
  }
  #description {
    font-size: 20px;
    display: block;
    text-align: center;
    margin-bottom: 5%;
  }
  #survey-form {
    font-size: 18px;
    margin-top: 5%;
  }
  .form-section-one label {
    float: right;
    clear: right;
    text-align: left;
    width: 100%;
  }
  .form-section-one input{
    float: right;
    width: 65%;
    text-align: center;
  }
  .form-section-two{
    display: block;
    margin-top: 20%;
  }
  .form-section-three{
    text-align: justify;
    margin-top: 5%
  }
  .form-section-four{
    margin-top: 5%;
  }
  .form-section-four span{
    display: block;
  }
  .form-section-four div{
    display: block;
  }
  .form-section-five {
    margin-top: 5%;
  }
  .form-section-five textarea{
    display: block;
    width: 375px;
    height: 100px;
    resize: none;
  }
  button[type='submit'] {
    display: inline-block;
    margin-top: 5%;
    width: 100%;
    height: 5%;
    cursor: pointer;
  }
  button[type='submit']:hover {
    background-color: #80C0E1;
    color: white;
    }
  button[type='submit']:active{
    transform: translateY(4px);
  }

@media (max-width: 320px) {
    .main-container {
        margin: 0px;
        min-width: auto;
        max-width: auto;
    }
    #title {
        font-size: 1rem;
    }
    #description, #survey-form {
        font-size: 0.8rem;
    }
    .form-section-five textarea{
        max-width: 98%;
        height: 100px;
    }
    #dropdown{
        width: 80%;
    }
}
